.container {
    width: 600px;
    height: 600px;
    margin: 0 auto;
}

table {
    /* убираем отступы между ячейками */
    border-spacing: 0px;
    border-collapse: collapse;
}

tr {
    border: 1px solid black;
}

td {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    background-color: darkgrey;
    display: table-cell;
    vertical-align: middle;
}

.black {}



.bott {
    width: 30px;
    height: 30px;
    border: 1px solid black;
    text-align: center;
    float: left;
}

#level1 {
    background-color: red;
}

#level2 {
    background-color: red;
}

#level3 {
    background-color: red;

}

#play {
    width: 100px;
    height: 30px;
    text-align: center;
    background-color: gray;
}

.menu {
    width: 600px;
    height: 40px;
    margin: 0 auto;
    float: none;
}


/* Ячейки с бомбами */
.bomb {
    background: url(/img/bomb.png);
}

.bomb img {
    width: 100%;
    height: 100%;

}

/* Ячейки скрытая */
.opencell {}
