.container {
    width: 100%;
    min-width: 600px;
    height: 600px;
    min-height: 600px;
    border: 1px solid red;
    margin: 0 auto;
}

.product {
    display: block;
    width: 350;
    height: 400;
    float: left;
    border: 1px solid green;
}

.desc {
    display: none;
    min-width: 350;
    min-height: 400;
    /*    float: left;*/
    border: 1px solid green;
}
